@page "/blogs/{id}"
@model AcademicBlog.Pages.Blogs.BlogDetailModel
@using AcademicBlog.Pages.Blogs.Component.UI
@using Markdig;
@using System.Security.Claims;
@using BussinessObject;
@{
}
<!--
Install the "flowbite-typography" NPM package to apply styles and format the article content:

URL: https://flowbite.com/docs/components/typography/
-->
<link rel="stylesheet" href="~/lib/ckeditor/styles.css" />
<main class="pt-4 pb-16 lg:pt-8 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-5xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert ring-1 ring-gray-500/10 rounded-2xl overflow-hidden shadow-md">
            <img class="mr-4 w-full aspect-video" src="@(Model.Post?.ThumbnailUrl??"https://source.unsplash.com/random")" alt="">

            <header class="mb-4 lg:mb-6 not-format px-5">
                <address class="flex items-center mb-6 not-italic justify-between">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="@Model.Post.Creator?.AvatarUrl" alt="">
                        <div>
                            <div class="">
                                <a href="/profile/@Model.Post.CreatorId" rel="author"
                                   class="text-xl font-bold text-gray-900 dark:text-white">@Model.Post.Creator.Fullname</a>
                                <form asp-page-handler="Follow" method="post" class="flex gap-2 my-1">
                                    <input type="hidden" name="creatorId" value="@Model.Post.CreatorId" />
                                    @if (Model.IsDisplayFollowingButton)
                                    {
                                        <button type="submit" class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-2.5 py-[0.15rem] text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                                name="actionFollow"
                                                value="@(Model.IsFollowed ? "unfollow" : "follow" )">
                                            @if (Model.IsFollowed)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 11h14v2H5z"></path></svg>
                                            }
                                            else
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
                                                
                                            }
                                            @(Model.IsFollowed ? "Unfollow" : "Follow"
                                                )
                                        </button>
                                    }
                                </form>

                            </div>
                            <p class="text-base text-gray-500 dark:text-gray-400 flex-wrap flex gap-2">
                                <time pubdate datetime="2022-02-08"
                                      title="February 8th, 2022">@Model.Post.CreatedDate</time>
                            </p>
                            <div class="flex gap-2">

                                <form asp-page-handler="Approve" method="post" class="flex gap-2">
                                    
                                    <input type="hidden" name="creatorId" value="@Model.Post.CreatorId" />
                                    @if (Model.IsDisplayApproveButton)
                                    {
                                        <button type="submit" name="actionApprove"
                                                class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                                value="@(Model.IsApprove ? "Unapprove" : "Approve")">
                                            @(Model.IsApprove ? "Unapprove" : "Approve")
                                        </button>
                                    }
                                </form>
                                <form asp-page-handler="Reject" method="post" class="flex gap-2">
                                    <input type="hidden" name="creatorId" value="@Model.Post.CreatorId" />
                                    @if (Model.IsDisplayApproveButton)
                                    {
                                        <button type="submit" class="inline-flex items-center gap-x-1.5 rounded-md bg-red-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" name="actionReject"
                                                value="@(Model.IsReject ? "UnReject" : "Reject")">
                                            @(Model.IsReject ? "UnReject" : "Reject")
                                        </button>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                    @if (Model.AccountId > 0)
                    {
                        <div class="flex gap-2">


                            <form asp-page-handler="Favorite" method="post">
                                <button type="submit" name="actionFavorite"
                                        value="@(Model.IsFavorite ? "unfavorite" : "favorite")">
                                    @if (Model.IsFavorite)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             style="fill: #ff0000;">
                                            <path d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z">
                                            </path>
                                        </svg>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             style="fill: rgba(0, 0, 0, 1);">
                                            <path d="M12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412l7.332 7.332c.17.299.498.492.875.492a.99.99 0 0 0 .792-.409l7.415-7.415c2.354-2.354 2.354-6.049-.002-8.416a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595zm6.791 1.61c1.563 1.571 1.564 4.025.002 5.588L12 18.586l-6.793-6.793c-1.562-1.563-1.561-4.017-.002-5.584.76-.756 1.754-1.172 2.799-1.172s2.035.416 2.789 1.17l.5.5a.999.999 0 0 0 1.414 0l.5-.5c1.512-1.509 4.074-1.505 5.584-.002z">
                                            </path>
                                        </svg>
                                    }
                                </button>
                            </form>

                            <form asp-page-handler="Bookmark" method="post">
                                <button type="submit" name="actionBookmark"
                                        value="@(Model.IsBookmark ? "unbookmark" : "bookmark")">
                                    @if (Model.IsBookmark)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             style="fill: #0077cc;">
                                            <path d="M12 11.222 14.667 13l-.89-3.111L16 8l-2.667-.333L12 5l-1.333 2.667L8 8l2.223 1.889L9.333 13z">
                                            </path>
                                            <path d="M19 21.723V4a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v17.723l7-4.571 7 4.571zM8 8l2.667-.333L12 5l1.333 2.667L16 8l-2.223 1.889.89-3.111L12 11.222 9.333 13l.89-3.111L8 8z">
                                            </path>
                                        </svg>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             style="fill: rgba(0, 0, 0, 1);">
                                            <path d="M18 2H6c-1.103 0-2 .897-2 2v18l8-4.572L20 22V4c0-1.103-.897-2-2-2zm0 16.553-6-3.428-6 3.428V4h12v14.553z">
                                            </path>
                                        </svg>
                                    }
                                </button>
                            </form>
                            @if (Model.IsOwner)
                            {
                                
                            <button type="button" name="edit" class="flex items-start"
                                onclick="window.location='/blogs/draft?mode=edit&id=@Model.Post.Id'"
                                  >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path><path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path></svg>  
                            </button>
                            }
                            @if (Model.IsOwner || (User.FindFirst(ClaimTypes.Role)?.Value ?? "Unknown").Equals("Mod") || (User.FindFirst(ClaimTypes.Role)?.Value ?? "Unknown").Equals("Lecturer"))
                            {
                                 <form asp-page-handler="Delete" method="post" id="deleteForm">
                                    <button type="button" name="delete" id="deleteButton" 
                                            onclick="deleteHandler(event)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(155, 15, 15, 1));transform: ;msFilter:;"><path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path><path d="M9 10h2v8H9zm4 0h2v8h-2z"></path></svg>
                                    </button>
                                </form>
                            }
                        </div>
                    }


                </address>
                <h1 class="mb-4 text-4xl font-extrabold leading-relaxed text-gray-900 lg:mb-6 lg:text-5xl dark:text-white">
                    @Model.Post.Title
                </h1>
            </header>
            <div class="flex gap-2 mb-4">
                @foreach(var tag in Model.Post?.Tags??new List<Tag>())
                {
                    <span>#@tag.Name</span>
                }
            </div>
            <div class="px-5">

            @Html.Raw(Markdown.ToHtml(Model.Post.Content))
            </div>
            <section class="not-format px-5">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">
                        Discussion
                        (@(Model.Post.Comments?.Count ?? 0))
                    </h2>
                </div>
                @if (User.Identity.IsAuthenticated)
                {   
                <form class="mb-6" method="post" asp-page-handler="Comment">
                    <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea id="comment" rows="6" name="commentContent"
                                  class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                                  placeholder="Write a comment..." required></textarea>
                    </div>
                    <button type="submit"
                            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                        Post comment
                    </button>
                </form>
                }
                @{
                    int count = 0;
                }
                @foreach (var comment in Model.PrimaryComments)
                {
                    var model = new CommentViewModel()
                {
                    Comment = comment,
                    CommentList = Model.Comments
                };
                    @await Html.PartialAsync("/Pages/Blogs/Component/UI/_Comment.cshtml", model)
                    ;
                    count++;
                    if (count < Model.PrimaryComments.Count)
                    {
                        <div class="divide-x divide-gray-900\/10 h-[2px] mt-1 bg-gray-400"></div>
                        ;
                    }
                }

            </section>
        </article>
    </div>

</main>

<aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Related articles</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            @foreach(var post in Model.relatedPosts)
            {
            <article class="max-w-xs flex flex-col">
                <a href="/blogs/@post.Id">
                        <img src="@(post.ThumbnailUrl  ?? "https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png")"
                         class="mb-5 rounded-lg w-full aspect-[16/9]" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                        <a href="/blogs/@post.Id">@post.Title</a>
                </h2>
                <div class="line-clamp-3 flex-1">

                <p class="mb-4 text-gray-500 dark:text-gray-400">
                        @Html.Raw(Markdown.ToHtml(post.Content))
                </p>
                </div>
                    <a href="/blogs/@post.Id"
                   class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                        Read in @(Math.Ceiling((double)Utils.Utils.CountWords(post.Content) / 200)) minutes
                </a>
            </article>
               
            }
          @*   <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-2.png"
                         class="mb-5 rounded-lg" alt="Image 2">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Enterprise design tips</a>
                </h2>
                <p class="mb-4  text-gray-500 dark:text-gray-400">
                    Over the past year, Volosoft has undergone many
                    changes! After months of preparation.
                </p>
                <a href="#"
                   class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 12 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-3.png"
                         class="mb-5 rounded-lg" alt="Image 3">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">We partnered with Google</a>
                </h2>
                <p class="mb-4  text-gray-500 dark:text-gray-400">
                    Over the past year, Volosoft has undergone many
                    changes! After months of preparation.
                </p>
                <a href="#"
                   class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 8 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png"
                         class="mb-5 rounded-lg" alt="Image 4">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="#">Our first project with React</a>
                </h2>
                <p class="mb-4  text-gray-500 dark:text-gray-400">
                    Over the past year, Volosoft has undergone many
                    changes! After months of preparation.
                </p>
                <a href="#"
                   class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 4 minutes
                </a>
            </article> *@
        </div>
    </div>
</aside>

<script>
    const buttonHandler = (e) => {
        e.preventDefault();
        const id = e.target.value;

        const formEle = document.querySelector(`#form-${id}`);
        formEle.classList.toggle("hidden");
    }
    const deleteHandler = (e)=>{
        const deleteForm = document.getElementById("deleteForm");
        const isConfirmed = confirm("Are you sure you want to delete?");

        // If the user confirms, submit the form
        if (isConfirmed) {
            deleteForm.submit();
        }
        //TODO  show promt to confirm, if click ok then submit the form
    }
    document.addEventListener('DOMContentLoaded', function () {
        Prism.highlightAll();
    });
</script>